{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <form method="post" class="my-class">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-dark"> Fetch Data</button>
                </form>
            </div>
        </div>


    </div>
    {% if result %}
        {{ result }}
    {% else %}
    {% endif %}


{% endblock content %}